@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mirza', cursive;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

/*----------------------------------HEADER INDEX-----------------------------*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    position: sticky;
    top: 0;
}

.iconos-redes img {
    width: 20px;
    height: 20px;
    margin: 5px;
    align-items: center;
}

.contenedor-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a h1 {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-left: 30px;
    text-align: center;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li {
    list-style: none;
    margin: 12px;
    transition: 1seg;
}

header nav ul li:hover {
    background-color: #cdb363;
}

/*-------------------------------MAIN INDEX--------------------------------*/

.contenedor-imagen {
    width: 100%;
    height: 95vh;
    background-image: url(../img/fotoindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.formato-titulos-parrafos h1{
    font-size: 22px;
}

.formato-titulos-parrafos h2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 200;
}


.formato-titulos-parrafos p {
    color: grey;
    font-size: 18px;
    text-align: justify;
}

.formato-titulos-parrafos {
    padding: 60px 60px 0 60px;
}

.eventos-y-otros {
    margin-top: 40px;
    padding: 75px;
}


.eventos-y-otros div {
    width: 250px;
    height: 350px;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    transition: 1s;
    /* box-shadow: 5px 5px 18px -6px rgba(0,0,0,1);
    -webkit-box-shadow: 5px 5px 18px -6px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 18px -6px rgba(0,0,0,1); */
}

.eventos-y-otros a:hover {
    background-color: #cdb363;
}

.eventos-y-otros div {
    transition: 2s;
}

.eventos-y-otros div:hover {
    transform: scale(1.1);
    box-shadow: -5px 10px 40px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -5px 10px 40px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 10px 40px -4px rgba(0, 0, 0, 0.75);
}


.eventos-y-otros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.eventos-y-otros div h2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.eventos-y-otros div h3 {
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 5px;
}

.eventos-y-otros div a {
    text-decoration: none;
    color: rgb(135, 113, 56);
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    padding: 1px;
    font-size: 13px;
    text-transform: uppercase;
}


.ubicacion {
    margin-top: 80px;
}

.ubicacion iframe {
    width: 100%;
    justify-content: center;
}



/*---------------------------------FOOTER INDEX------------------------------*/

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

footer a img {
    width: 30px;
    height: 30px;
}

footer p {
    font-size: 13px;
    text-align: center;
    flex-grow: 1;
}


/*-------------------------------PAGINA EXPERIENCIAS--------------------------*/

.fondo-experiencias {
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondoeventos.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contenedor-experiencias {
    /**HABILITO LA GRILLA CON LO SIGUIENTE**/
    display: grid;
    /**DECLARO LAS FILAS**/
    grid-template-rows: 350px 350px 350px;
    /**DECLARO COLUMNAS con short code**/
    grid-template-columns: repeat(3, 1fr);
    /**GAP: para margen en filas y columnas**/
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px 60px 0 60px;
}

.contenedor-experiencias div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------------------------------PAGINA HOSPEDAJE--------------------------*/

.fondo-hospedaje {
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondohospedaje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.grid-contenedor {
    /**HABILITO LA GRILLA CON LO SIGUIENTE**/
    display: grid;
    /**DECLARO LAS FILAS**/
    grid-template-rows: 350px 350px;
    /**DECLARO COLUMNAS con short code**/
    grid-template-columns: repeat(3, 1fr);
    /**GAP: para margen en filas y columnas**/
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px 60px 0 60px;
}

.grid-contenedor div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria-hospedaje {
    /**border: 1px solid black;**/
    background-color: rgb(255, 255, 255);
    font-size: 10px;
    /**padding: 1px;**/
}



/*--------------------------------PAGINA NOSOTROS----------------------------*/

.fondo-nosotros {
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondonosotros.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}



/*------------------------------PAGINA CAFETERIA-----------------------------*/

.fondo-cafeteria {
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondocafeteria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*-------------------------------PAGINA CONTACTO-----------------------------*/

.fondo-contacto {
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondocontacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

/*.ubicacion iframe {
    width: 100%;
    justify-content: center;
}*/

.formato-titulos-contacto p {
    text-align: center;
    align-items: center;
    color: gray;
    font-size: 18px;
}

.formato-titulos-contacto h2 {
    text-align: center;
    align-items: center;
    padding: 20px;
}

.formato-titulos-contacto{
    transition: 1s;
}

.formato-titulos-contacto a:hover{
    background-color: #cdb363;
}

/*-------------------------------PAGINA VISITAS GUIADAS-------------------------*/

.fondo-visitas-guiadas {
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondovisitasguiadas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.formato-titulos-parrafos h3{
    font-size: 15px;
    color:black;
    font-weight: 100;
}

.contenedor-visitas-guiadas {
    /**HABILITO LA GRILLA CON LO SIGUIENTE**/
    display: grid;
    /**DECLARO LAS FILAS**/
    grid-template-rows: 350px 350px;
    /**DECLARO COLUMNAS con short code**/
    grid-template-columns: repeat(3, 1fr);
    /**GAP: para margen en filas y columnas**/
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px 60px 0 60px;
}

.contenedor-visitas-guiadas div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*-----------------------------------MEDIA QUERYS------------------------------*/
/**@media screen and (max-width: 1380px){
    .eventos-y-otros{
        flex-direction: column;
        align-items: center;
    }
}**/

@media screen and (max-width: 1060px) {
    .grid-contenedor {
        grid-template-rows: 350px 350px;
        /**DECLARO COLUMNAS con short code**/
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1060px) {
    .contenedor-experiencias {
        grid-template-rows: 350px 350px;
        /**DECLARO COLUMNAS con short code**/
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1060px) {
    .contenedor-visitas-guiadas {
        grid-template-rows: 350px 350px;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 707px) {
    .grid-contenedor {
        grid-template-rows: 350px 350px;
        /**DECLARO COLUMNAS con short code**/
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
}

@media screen and (max-width: 707px) {
    .contenedor-experiencias {
        grid-template-rows: 350px 350px;
        /**DECLARO COLUMNAS con short code**/
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 707px) {
    .contenedor-visitas-guiadas {
        grid-template-rows: 350px 350px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 707px) {
    header {
        flex-direction: column;
        align-items: center;
        background-color: white;
    }

    .contenedor-menu {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 707px) {
    .eventos-y-otros div {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .contenedor-menu {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 667px) {
    .eventos-y-otros {
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .contenedor-menu {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 495px) {
    header img {
        display: none;
    }

    header nav ul li {
        font-size: 12px;
    }
}

@media screen and (max-width: 380px) {
    header nav ul li {
        font-size: 10px;
    }
}

@media screen and (max-width: 380px) {
    .formato-titulos-parrafos p {
        font-size: 12px;
    }

    .formato-titulos-parrafos h2 {
        font-size: 12px;
    }
}