//! FOOTER
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    p{
        font-size: nth($font-size, 2);
        text-align: center;
        color: $color-parrafos;
        flex-grow: 1;
    }
}