
/*INDEX-MAIN*/

.contenedor-imagen{
    width: 100%;
    height: 95vh;
    background-image: url(../img/fotoindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.formato-titulos-parrafos{
    h2{
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 200;
    }
    p{
        color: grey;
        font-size: 18px;
        text-align: justify;
    }
}

/*NOSOTROS*/





/*HOSPEDAJE*/





/*EXPERIENCIAS*/





/*CAFETERIA*/





/*VISITAS GUIADAS*/





/*CONTACTO*/




