
/*INDEX-MAIN*/

.contenedor-imagen{
    width: 100%;
    height: 95vh;
    background-image: url(../img/fotoindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*TARJETAS-INDEX*/

.eventos-y-otros{
    margin-top: 40px;
    padding: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 15px;
    div{
        width: 250px;
        height: 350px;
        border: 1px solid black;
        text-align: center;
        box-sizing: border-box;
        transition: 0.3s;
        &:hover{
            transform: scale(1.05);
            opacity: 0.9;
            background-color: #cdb363;
        }
        img{
            transition: 0.3s;
            &:hover{
            filter: saturate(0%);
            }
        }
        h2{
            font-size: 20px;
            color: $color-titulos-h;
            text-transform: uppercase;
        }
        h3{
            font-size: 14px;
            color: $color-titulos-h;
            padding: 5px;
        }
        a{
            text-decoration: none;
            color: rgb(135, 113, 56);
            background-color: rgb(255, 255, 255);
            padding: 1px;
            font-size: 13px;
            text-transform: uppercase;
            &:hover{
            background-color: $color-efecto-links;
            }
        }
    }
}

/*IFRAME-MAPA-INDEX-MAIN*/

.ubicacion{
    margin-top: 80px;
    iframe{
        width: 100%;
        justify-content: center;
    }
}

/*NOSOTROS*/

.fondo-nosotros{
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondonosotros.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

/*HOSPEDAJE*/

.fondo-hospedaje{
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondohospedaje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.grid-contenedor{
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px 60px 0 60px;
    div{
        .galeria-hospedaje{
            background-color: rgb(255, 255, 255);
            font-size: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


/*EXPERIENCIAS*/

.fondo-experiencias{
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondoeventos.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contenedor-experiencias{
        display: grid;
        grid-template-rows: 350px 350px 350px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        padding: 20px 60px 0 60px;
    div{
        .galeria-fotos-experiencias{
            background-color: $color-fondo;
            font-size: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/*CAFETERIA*/

.fondo-cafeteria{
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondocafeteria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*VISITAS GUIADAS*/

.fondo-visitas-guiadas{
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondovisitasguiadas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contenedor-visitas-guiadas{
        display: grid;
        grid-template-rows: 350px 350px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        padding: 20px 60px 0 60px;
    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


/*CONTACTO*/

.fondo-contacto {
    width: 100%;
    height: 95vh;
    background-image: url(../img/fondocontacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

.formato-titulos-contacto{
    transition: 1s;
    div{
        h2{
            text-align: center;
            align-items: center;
            padding: 20px;
        }
        p{
            text-align: center;
            align-items: center;
            color: $color-parrafos;
            font-size: 18px;
        }
        a{
            &:hover{
                background-color: $color-efecto-links;
            }

        }
    }
}




